@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'variables';
@import 'animations';

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    filter: none;
    border: 2px solid theme('colors.indigo.500');
    -webkit-text-fill-color: theme('colors.gray.500');
    -webkit-box-shadow: 0 0 0px 1000px theme('colors.indigo.50') inset;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 1rem;
    height: 1rem;
    color: theme('colors.white');
    border: 1px solid theme('colors.gray.400');
    border-radius: 4px;
    vertical-align: -2px;

    &::before {
        content: "\2713";
        position: absolute;
        font-size: 0.8rem;
        left: 50%;
        top: 50%;
        transform: translate(-48%, -48%);
        visibility: hidden;
    }

    &:checked {

        border-color: theme('colors.indigo.500');
        background-color: theme('colors.indigo.500');

        &::before {
            visibility: visible;
        }
    }

    &:disabled {
        border-color: theme('colors.gray.900');;
        background-color: theme('colors.gray.600');
      }
}